/* General button styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 1rem;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  background-color: aqua;
  border-style: solid;
  border-color: blue;
}
